body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}


.container {
    display: flex;
    flex-flow: row wrap;
    width: 550px;
    height: 550px;
    gap: 10px;
}

button {
    padding: 24px 48px;
    font-family: 'Courier New', Courier, monospace;
}

#display {
    width: 450px;
    height: 30px;
    border: 2px solid black;    
}